
.btn{
    width: 48%;
    height: 3rem;
    border: none;
    color: #fff;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.1875rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
    outline: none;
}
.btn-blue{
    background-color: #0099FF;
}
.btn-blue:hover{
    background-color: #5ed100;
}

.btn-transparent{
    background-color: transparent;
    border: 2px solid #0099FF;
    color: #31373D;
}
.btn-transparent:hover{
    background-color: #5ed100;
    border: 2px solid #5ed100;
    color: #fff;
}
.btn-white{
    color: #4A4A4A;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
    border-radius: 0px !important;
    width: 7.9rem;
    height: 2.875rem;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 2.8rem;
    transition: none;
}

.btn-border{
    border: 3px solid #0099FF;
}
.active{
    border: 3px solid #0099FF;
    transform: scale(1.1);
  }
 