
::-webkit-scrollbar {
  background: #FFFFFF;
  border-radius: 4px;
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #D8D8D8;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #979797;
  border-radius: 4px;
  scrollbar-width: auto;
}

