@import "fontawesome";
@import "solid";
@import "regular";
@import "brands";
@import "reset";
@import "font-family";
@import "mediaquery";
@import "button";
@import "header";
@import "banner";

body{
    padding-left: 3rem;
    padding-right: 3rem;
    font-family: 'Roboto', sans-serif;
    color: #31373D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375rem;
    text-align: left;

}
.flex{
    display: flex;
    justify-content: space-between;
}
.rel{
    position: relative;
}
.abs{
    position: absolute;
}
a,li{
    text-decoration: none;
    list-style: none;
}